- name: Deploy generated sites config
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    mode: "{{item.mode}}"
    owner: root
    group: root
    decrypt: "{{item.decrypt}}"
  with_items:
    - { src: "sgenerator.j2",    dest: "/etc/nginx/sites-available/900-sgenerator", mode: "0644", decrypt: "no" }
  when: nginx_frontend_configurations is defined and nginx_frontend_configurations | length > 0

- name: Ensure symlink generated sites config exists
  ansible.builtin.file:
    src: /etc/nginx/sites-available/900-sgenerator
    dest: /etc/nginx/sites-enabled/900-sgenerator
    state: link
    force: true
  when: nginx_frontend_configurations is defined and nginx_frontend_configurations | length > 0
