- name: Deploy generated sites config
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    mode: "{{item.mode}}"
    owner: root
    group: root
    decrypt: "{{item.decrypt}}"
  with_items:
    - { src: "sgenerator.j2",    dest: "/etc/nginx/sites-available/900-sgenerator", mode: "0644", decrypt: "no" }

    - name: Ensure symlink for CloudFlare site exists
      ansible.builtin.file:
        src: /etc/nginx/sites-available/900-sgenerator
        dest: /etc/nginx/sites-enabled/900-sgenerator
        state: link
        force: true
      when: cloudflare_no_site is not defined
