---

# nginx_worker_processes: 4

nginx_user: www-data
nginx_group: www-data

# It's necessary disable catching of default port 80 by Nginx to make LE working
catch_default_80: false
# It's necessary disable catching of default port 443 by Nginx to make Signal proxy working on default HTTPS port
catch_default_443: false

# Optional additional OS packages to install together with nginx-full.
nginx_extra_packages: []

# Example:
# nginx_extra_packages:
#   - libnginx-mod-http-headers-more-filter
