###
### LetsEncrypt challenge location
###

    server {
        listen      80;
        listen [::]:80;

        server_name _;

        location /.well-known/acme-challenge {
            root {{ letsencrypt_web_root | default('/var/www/html') }};
        }

        location / {
            return 301 https://$host$request_uri;
        }
    }

###
###
###
