###
### Please, don't use a DEFAULT file for your site. It's a bad practice.
### Create a new file for your site and include it in the sites-enabled directory.
###

### Statistics

    server {
        listen              127.0.0.1:81 default_server;
        listen              [::1]:81 default_server;

        server_name         _;

        access_log          off;
        error_log           off;

        location /nginx_status {
            stub_status;
            allow           127.0.0.1;
            deny            all;
        }
    }

###### Block default http host to prevent accidental finding of the real site
###
### Commented out due to using LetsEncrypt for all sites
###
###    server {
###        listen                   80 default_server;
###        listen              [::]:80 default_server;
###
###        server_name         _;
###
###        location / {
###            return  403;
###        }
###    }

### Block default https host to prevent accidental finding of the real site

    server {
        listen                   443 ssl default_server;
        listen              [::]:443 ssl default_server;

        server_name         _;

        ssl_certificate     /etc/nginx/ssl/default.crt;
        ssl_certificate_key /etc/nginx/ssl/default.key;

        location / {
            return 403;
        }
    }

###
### Please, don't use a DEFAULT file for your site. It's a bad practice.
### Create a new file for your site and include it in the sites-enabled directory.
###
