- name: Install packages
  ansible.builtin.package:
    name: "{{ ['nginx-full'] + (nginx_extra_packages | default([])) }}"
    state: present
    autoremove: yes

- name: Create /etc/nginx/ssl
  file: dest=/etc/nginx/ssl state=directory owner=root group=root mode=0700

- name: Check if /etc/nginx/ssl/dhparam.pem exists
  stat:
    path: /etc/nginx/ssl/dhparam.pem
  register: dhparam_file

- name: Generate /etc/nginx/ssl/dhparam.pem file
  shell: openssl dhparam -out /etc/nginx/ssl/dhparam.pem 2048
  when: not dhparam_file.stat.exists

- name: Check if /etc/nginx/ssl/default.key exists
  stat:
    path: /etc/nginx/ssl/default.key
  register: ssl_key_file

- name: Generate self-signed SSL certificate
  shell: openssl req -new -newkey rsa:2048 -days 3650 -nodes -x509 \
        -keyout /etc/nginx/ssl/default.key \
        -out /etc/nginx/ssl/default.crt \
        -subj "/CN=fuck.off"
  when: not ssl_key_file.stat.exists

- name: Deploy default configs
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    mode: "{{item.mode}}"
    owner: root
    group: root
    decrypt: "{{item.decrypt}}"
  with_items:
    - { src: "nginx.conf.j2",       dest: "/etc/nginx/nginx.conf",              mode: "0644", decrypt: "no" }
    - { src: "sites/default.j2",    dest: "/etc/nginx/sites-available/default", mode: "0644", decrypt: "no" }

- name: Ensure systemd override dir for nginx exists
  ansible.builtin.file:
    path: /etc/systemd/system/nginx.service.d
    state: directory
    mode: "0755"

- name: Set LimitNOFILE for nginx
  ansible.builtin.copy:
    dest: /etc/systemd/system/nginx.service.d/override.conf
    mode: "0644"
    content: |
      [Service]
      LimitNOFILE={{ nginx_worker_rlimit_nofile | default(1024000) }}

- name: Set ulimits for nginx
  ansible.builtin.copy:
    dest: /etc/security/limits.d/900-nginx.conf
    mode: "0644"
    content: |
      www-data soft nofile {{ nginx_worker_rlimit_nofile | default(1024000) }}
      www-data hard nofile {{ nginx_worker_rlimit_nofile | default(1024000) }}

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
